@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Feather';
  src: url('./fonts/feather.ttf') format('truetype'),;
  font-weight: 700;
  
}

body {
  font-family: 'Inter', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Feather', sans-serif; 
}




  .background {
    background-image: url('./assets/images/signup.png');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    min-height: 100vh;
    width: 100%;
  }